/*global*/
html, body{
    margin:0;
    padding:0;
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
}


/*navitagation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.sign_up_in{
    float:right;
}

.sign_up_and_in_container{
    text-align:center;
}

.issues_text{
    text-align: center;
    color:red;
}

#welcome_nav_name{
    float:right;
    color:white;
}



/*index*/

/*account*/


#account_header{
    margin-top:5%;
    text-align:center;
    font-size:40px;
}

#account_details{
    margin-left:5%;
}

#account_details_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}

#account_details_table td, #account_details_table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#account_details_table tr:nth-child(even){background-color: #f2f2f2}

#account_details_table tr:hover {background-color: #ddd;}

#account_details_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}