/*global*/
html, body{
    margin:0;
    padding:0;
}


/*navitagation*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.sign_up_in{
    float:right;
}

.sign_up_and_in_container{
    text-align:center;
}

.issues_text{
    text-align: center;
    color:red;
}



/*all*/

.center_container{
    margin:0;
    padding:0;

    background-color: #333;
    opacity:0.7;
    float:left;
    margin-left:25%;
    margin-top:5%;
    width: 50%;
    height: 500px;
    border:3px solid black;
}



/*index*/

/*account*/

.account_overview_header{
    text-align:center;
    font-size:50px;
    color:white;

}


#account_header{
    text-align:center;
    color:white;
    text-decoration: underline;
}

#account_details{
    color:white;
    margin-left:5%;
}